backend/stepfunctions/pipeline.asl.json
{
  "Comment": "News summary pipeline that checks sources and enqueues raw ingestion",
  "StartAt": "CheckForUpdate",
  "States": {
    "CheckForUpdate": {
      "Type": "Task",
      "Resource": "${CheckerLambdaArn}",
      "TimeoutSeconds": 15,
      "Next": "ShouldFetch"
    },
    "ShouldFetch": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.should_fetch",
          "BooleanEquals": true,
          "Next": "EnqueueRaw"
        }
      ],
      "Default": "SkipPipeline"
    },
    "EnqueueRaw": {
      "Type": "Task",
      "Resource": "${DispatcherLambdaArn}",
      "TimeoutSeconds": 15,
      "ResultPath": "$.enqueue",
      "Next": "PipelineComplete"
    },
    "SkipPipeline": {
      "Type": "Succeed"
    },
    "PipelineComplete": {
      "Type": "Succeed"
    }
  }
}
